<header>
    <div class="navbar navbar-dark shadow-sm" style=" background-color: #FF6F61;">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">E-SHOP</strong>
        </div>
        <button  class="btn">
            <i style="font-size: 30px;" class="fas fa-user "></i>
           
        </button>
    </div>
</header>
<div class="dashboard-container">
   
        <div  class="sidebar">
        <ul>
            <li><a routerLink="/admin/dashboard">Dashboard</a></li>

            <li><a routerLink="/admin/categorie">Categories</a></li>
            
            <li><a routerLink="/admin/newsletter" >Newsletter</a></li>
            
            <li><a routerLink="/admin/productaadmin" style="color:#FF6F61;">Articles</a></li>

            <li><a routerLink="/admin/contactadmin" >AllContact</a></li>

            <li><a routerLink="/admin/orders">Orders</a></li>
            

            <li><a routerLink="/admin/aboutclient">AllUser</a></li>
        
        </ul><li><a>LogOut</a></li>
    </div>
        
       
        <div class="col-lg-9 table-responsive mb-5">
            <h2 style="color: #2B3674; text-align: center;">List of Products</h2>
           
            <div style="padding: 10px; text-align: right;">
            <button  class="btn py-2 px-5" routerLink="/admin/addproduct" style="background:#FF6F61; " ><i class="fa fa-plus-square "></i> Add Product</button>
             </div>
             <div class="sidebar-widget category">
                
                <nav class="navbar bg-light">
                    <label for="categorySelect" class="mr-2">Category:</label>
                    <select id="categorySelect" class="form-control" (change)="filtercategory($event)">
                        <option value="All" selected>All</option>
                        <option  value="{{category.nomCatalogue}}"*ngFor="let category of categories" >{{category.nomCatalogue}}</option>
                    </select>
                </nav>
            </div>
             <table class="table table-bordered text-center mb-0">
                <thead class="bg-light text-dark">
                    <tr>
                        <th>productId</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>description</th>
                        <th>available in stock</th>
                        <th>qtEnStock</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="align-middle "*ngFor="let product of products">
                    <tr>
                        <td class="align-middle"> {{product.id}}</td>
                        <td class="align-middle"><img src="" alt="" style="width: 50px;"> {{product.nomProduit}}</td>
                        <td class="align-middle"> {{product.prix}}</td>
                        <td class="align-middle"> {{product.description}}</td>
                        <td class="align-middle"> {{product.disponibilteEnStock}}</td>
                        <td class="align-middle"> {{product.qtEnStock}}</td>
                        
                        <td class="button-container">
                            
                            <button class="btn btn-sm" style="background:#FF6F61;" (click)="deleteproduct(product.id)"><i class="fa fa-trash"></i></button>
                            <button class="btn btn-sm"  routerLink="/admin/updateproduct/{{product.id}}"style="background:#FF6F61;" ><i class="fa fa-eye"></i></button>

                           
                        </td>
                    </tr> 

                    
                </tbody>
            </table>
    </div>

    