body {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #f3f6ff;
}

a {
    color: #FF6F61;
}
.breadcrumb-wrap {
    position: relative;
    width: 100%;
}

.breadcrumb-wrap .breadcrumb {
    margin: 0;
    padding: 50;
    background: transparent;
}