
<app-topbar></app-topbar>
<app-navbar></app-navbar>

<div class="container-fluid py-5" *ngIf="product" >
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="{{product.image}}" alt="Image">
                    </div>
                    
                </div>
             </div>
        </div>
        <div class="col-lg-7 pb-5" >
            <h3 class="font-weight-semi-bold">{{product.nomProduit}}</h3>
            <div class="d-flex mb-3">
                <div class=" mr-2" style="color:#FF6F61;">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">(50 Reviews)</small>
            </div>
            
            <h3 class="font-weight-semi-bold mb-4"> Prix:  {{product.prix}}</h3>
            <p class="mb-4">{{product.description}}</p>
            <button class="btn py-2 px-5" style="background:#FF6F61;"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
        
            
           
        </div>
        
        </div>
    

        <ng-container *ngIf="!product">
            <div class="row px-xl-5">
                <div class="alert alert-danger">
                    <div>
                        Le produit n'existe pas.
                    </div>
                </div>
            </div>
        </ng-container>
    
<app-footer></app-footer>

