
    <div class="footer  bg-light"  >
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Get in Touch</h2>
                       
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker" style="color:#FF6F61 ;"></i>123 E Store, Los Angeles, USA</p>
                                <p><i class="fa fa-envelope" style="color:#FF6F61"></i>emailexample.com</p>
                                <p><i class="fa fa-phone" style="color:#FF6F61"></i>+123-456-7890</p>
                              </div>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Follow Us</h2>
                        <div class="contact-info">
                            <div class="social">
                                <a href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
                                <a href=""><fa-icon [icon]="faFacebookF"></fa-icon></a>
                                <a href=""><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
                                <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
                                <a href=""><fa-icon [icon]="faYoutube "></fa-icon></a>
                            </div>
                        </div>
                    </div>
                </div>    
    
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Company Info</h2>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                <h2 class="font-weight-bold text-dark mb-4">Quick Links</h2>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-dark mb-2" routerLink="/Home"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-dark mb-2" routerLink="/product"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                    <a class="text-dark mb-2" routerLink="/cart"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                    <a class="text-dark" routerLink="/contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                </div>
              
            </div>
        </div>
 
 
</div>
<div class="footer-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="">HTML Codex</a>. All Rights Reserved</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Template By <a href="">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>
</div>


