<body>
    <header>
        <div class="navbar navbar-dark shadow-sm" style=" background-color: #FF6F61;">
            <div class="navbar-brand align-item-center d-flex">
                <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                    
                </i>
                <strong style="font-size: 30px;">E-SHOP</strong>
            </div>
            <button  class="btn">
                <i style="font-size: 30px;" class="fas fa-user "></i>
               
            </button>
        </div>
    </header>
    <div class="dashboard-container">
        <div class="sidebar">
            <ul>
                <li><a routerLink="/admin/dashboard">Dashboard</a></li>

                <li><a routerLink="/admin/categorie">Categories</a></li>
                
                <li><a routerLink="/admin/newsletter" >Newsletter</a></li>
                
                <li><a routerLink="/admin/productaadmin">Articles</a></li>
                <li><a routerLink="/admin/contactadmin" >AllContact</a></li>

                <li><a routerLink="/admin/orders" style="color:#FF6F61;">Orders</a></li>
                

                <li><a routerLink="/admin/aboutclient">AllUser</a></li>
            </ul>
        </div>
 
  

    <div class="main-content">
        <h1 style="color: #2B3674; text-align: center;">User’s Orders</h1>
      
        <table>
            <thead>
                <tr> 
                    <th>OrderNum</th> 
                    <th>Date</th>
                    <th>Client'sId</th>
                    <th>Etat</th>
                    <th>Action</th>



                </tr>
            </thead>
                <tbody>
                    
                    <tr >
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        <td>

                            <button class="btn btn-sm" style="background:#FF6F61; margin-right: 15px;" ><i class="fa fa-trash"></i></button>
                            <button class="btn btn-sm"  style="background:#FF6F61;" ><i class="fa fa-eye" ></i></button>

                           </td>
                            

                      
                      </tr>
                     
                  </tbody>

                <!-- Ajoutez d'autres lignes pour chaque employé -->
        </table>

       
    </div>
    

</div>
</body>

