<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navbar navbar-dark shadow-sm" style=" background-color: #FF6F61;">
            <div class="navbar-brand align-item-center d-flex">
                <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                    
                </i>
                <strong style="font-size: 30px;">E-SHOP</strong>
            </div>
            <button  class="btn"(click)="logout()">
                <i style="font-size: 30px;" class="fas fa-user "></i>
               
            </button>
        </div>
    </header>
    
    <div class="dashboard-container">
        <div class="sidebar">
            <ul>
                <li><a routerLink="/admin/dashboard" style="color:#FF6F61;" >Tableau de bord</a></li>
    
                <li><a routerLink="/admin/categorie">Catégories</a></li>
                
                <li><a routerLink="/admin/newsletter" >Newsletter</a></li>
                
                <li><a routerLink="/admin/productaadmin" >Articles</a></li>
    
                <li><a routerLink="/admin/contactadmin">Contacts</a></li>
    
                <li><a routerLink="/admin/orders">Commandes</a></li>
                
    
                <li><a routerLink="/admin/aboutclient">Utilisateurs</a></li>
            
            </ul><li><a>Se déconnecter</a></li>
        </div>
    
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>
           
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Gains (Mensuels)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Gains (annuels)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tâches
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Requêtes en attente</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Visites mensuelles sur le site Web</h6>
                       
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                                  <img src="https://www.statcan.gc.ca/sites/default/files/tendance-cycle-fig1.png" alt="Description de l'image">
                        </div>
                    </div>
                </div>
            </div>
</div>
            <!-- Pie Chart -->
            <div class="row">
                <div class="col-xl-8 col-lg-7">

                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Taux d'interactions
                        </h6>
                       
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <img src="https://community.qlik.com/t5/image/serverpage/image-id/163422i937B308C15F437CE/image-size/medium?v=v2&px=400" alt="Description de l'image">
                        </div>
                       
                    </div>
                </div>
            </div>
            
        </div>
</div>
</div>
      
        
</body>
</html>
