<app-navbar></app-navbar>
    <div class="dashboard-container">
        <div class="sidebar">
            <ul>
                <li><a href="#"style="color:#FF6F61;font-size: 17px;">Questions</a></li>
    
                <li><a href="#" style="color:black;margin-left: 40px; line-height: 30px ; size:20px;" routerLink="/addQuestion">Poser un question</a></li>
                <li><a href="#" style="color:black;margin-left: 40px;" routerLink="/allQuestions"> lire les Questions</a></li>
                <li *ngFor="let categorie of categories"><button type="button"class="tagsBouton" (click)="fetchQuestionsByCategoryId(categorie.id)">{{ categorie.nomCatalogue}}</button></li>

            </ul>
        </div>
        <div class="main-content">
            <div class="row">
      
        <h5> Number of Questions {{nbreQuestion}}   </h5>
      
        <div class="col-md-4" *ngFor="let question of questions; let i = index">
            <div class="card" style="width:300PX;height: 270px;TOP:20PX;">
                <div class="flex">
                    <!-- Afficher l'image de l'utilisateur -->
                    <img class="imagehh" [src]="'https://img.freepik.com/icones-gratuites/utilisateur_318-563642.jpg?w=360'" style="height: 30px; border-radius: 50px;">
                  
                    <!-- Afficher le nom de l'utilisateur -->
                    <p>{{ users[i].userName }} </p>
                </div>
                <div class="card-body">
                    <!-- Afficher la question -->
                    <p class="card-title" style="color: #00000066;">{{ question.question.length > 50 ? (question.question | slice:0:50) + '...' : question.question }}</p>
                </div>
                <!-- Afficher le nom de la catégorie -->
                <button class="tagsBouton3" >{{ ListCatgeorie[i].nomCatalogue }}</button>
                <div class="card-footer">
                    <button style="color: #FF6F61; border:none" ><b>View</b></button>
                    <button  style="color: #FF6F61; ;border:none "><b>Answer</b></button>
                </div>
            </div>
            <br>
        </div>
                </div>
        </div>

