body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.dashboard-container {
    display: flex;
    margin-top: 10PX;
}

.sidebar {
    color: #fff;
    width: 250px;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
    color:#8D8D8D;

}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    margin-top: 20PX;
}

input[type="file"]::file-selector-button {
    display: none;  
      width: 500%;
    padding: 20px;
    font-size: 16px;
    border: none; /* Remove border */
    border-radius: 50px;
    background-color: gray; /* Optional: Set background color */
    margin-bottom: 20px; /* Optional: Add margin bottom */
}
.main-content{
    margin-left: 10px;
}

textarea {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    border-color: #8D8D8D; /* Élimine le bord */
    border-radius: 50px;
    

}
.sidebar ul li a {
    color:#8D8D8D;
    margin-left: 20PX;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center; /* Aligne horizontalement au centre */
    align-items: center; /* Aligne verticalement au centre */
}

.container img {
    max-width: 100%; /* Garantit que l'image ne dépasse pas la largeur de la div */
    max-height: 100%; /* Garantit que l'image ne dépasse pas la hauteur de la div */
}
.flex img {
    margin-top: 20px;
    margin-left: 20px;
}
.flex p {
    margin-top: 20px;
    margin-left: 20px;
}

.main-content {
    padding: 20px;
    flex-grow: 1;
}

.main-content h1 {
    margin-bottom: 20px;
}



.blanc{
    border-radius: 20%;
    color: black;
    border-color: #FF6F61;
    background-color:#fff;

}


.card-footer button{
    margin-left: 50px;
}

.tagsBouton{
    background-color:#FF6F61;
    color: #ddd;
    padding :5px;
    margin-left: 30px;
    margin-top: 10px;
    width: 200px;
    height:28px;
    border:none;
    border-color: #FF6F61;
    border-radius: 55px;
}
.tagsBouton3{
    background-color:#FF6F61;
    color: #ddd;
    padding :5px;
    margin-left: 30px;
    margin-bottom:50px;
    width: 200px;
    height:28px;
    border:none;
    border-color:#FF6F61;
    border-radius: 55px;
}
.borderless-input {
    border: none !important;
    outline: none !important;
    height: 30,55;
    width: 1014;
    /* Ajoutez d'autres styles selon vos besoins */
}
.form-group{
    height: 30,55;
    width: 1014;
}
.form-group-divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.flex img {
    height: 30px;
    border-radius: 50px;
    margin-right: 10px;
}

.flex{
    display:flex;
}

.tagsBouton2{
    background-color: #FF6F61;
    color: #ddd;
    padding :5px;
    margin-left: 40px;
    width: 160;
    height:30px;
    border:none;
    border-color: #FF6F61;
    border-radius: 55px;
}
.bande{
    background-color :white;
    height: 64px;
    margin-top:10px;
    display: flex;
  width: 1000px;
    border-radius: 100px;
}
.bande h3{
    color:white;
    font-weight: bold;
margin-top: 10px;
margin-left: 10px;}
    .info-setting3{
      width: 35px;
      left:150px;
  position:absolute;}
label{
    color: black;
}



.sidebar{
background-color:rgba(224, 224, 230, 0.3);
margin-left: 10px;
margin-top: 10px;
width: 271px;
height: 786px;}