<header>
    <div class="navbar navbar-dark shadow-sm" style=" background-color: #FF6F61;">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">E-SHOP</strong>
        </div>
        <button  class="btn"(click)="logout()" style="color: white;">
            Se déconnecter
        </button>
    </div>
</header>
<div class="dashboard-container">
   
        <div  class="sidebar">
        <ul>
            <li><a routerLink="/admin/dashboard">Tableau de bord</a></li>

            <li><a routerLink="/admin/categorie">Catégories</a></li>
            
            <li><a routerLink="/admin/newsletter" >Newsletter</a></li>
            
            <li><a routerLink="/admin/productaadmin" style="color:#FF6F61;">Articles</a></li>

            <li><a routerLink="/admin/contactadmin" >Contacts</a></li>

            <li><a routerLink="/admin/orders">Commandes</a></li>
            

            <li><a routerLink="/admin/aboutclient">Utilisateurs</a></li>
        
            <li><a routerLink="/admin/faq" >faq</a></li>
            <li><a routerLink="">Accueil</a></li>
        </ul>

    </div>
        
       
        <div class="col-lg-9 table-responsive mb-5">
            <h2 style="color: black; text-align: center;">Liste des produits</h2>
           
            <div style="padding: 10px; text-align: right;">
            <button  class="btn py-2 px-5" routerLink="/admin/addproduct" style="background:#FF6F61; " ><i class="fa fa-plus-square "></i> Ajouter un produit</button>
             </div>
             <div class="sidebar-widget category">
                
                <nav class="navbar bg-light">
                    <label for="categorySelect" class="mr-2">Catégorie:</label>
                    <select id="categorySelect" class="form-control" (change)="filtercategory($event)">
                        <option value="All" selected>Tous</option>
                        <option  value="{{category.nomCatalogue}}"*ngFor="let category of categories" >{{category.nomCatalogue}}</option>
                    </select>
                </nav>
            </div>
             <table class="table table-bordered text-center mb-0">
                <thead class="bg-light text-dark">
                    <tr>
                        <th>Idproduit</th>
                        <th>Nom du produit</th>
                        <th>Prix</th>
                        <th>description</th>
                        <th>Disponobilitè</th>
                        <th>qtEnStock</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="align-middle "*ngFor="let product of products">
                    <tr>
                        <td class="align-middle"> {{product.id}}</td>
                        <td class="align-middle"><img src="" alt="" style="width: 50px;"> {{product.nomProduit}}</td>
                        <td class="align-middle"> {{product.prix}}</td>
                        <td class="align-middle"> {{product.description}}</td>
                        <td class="align-middle"> {{product.disponibilteEnStock}}</td>
                        <td class="align-middle"> {{product.qtEnStock}}</td>
                        
                        <td class="button-container">
                            
                            <button class="btn btn-sm" style="background:#FF6F61;" (click)="deleteproduct(product.id)"><i class="fa fa-trash"></i></button>
                            <button class="btn btn-sm"  routerLink="/admin/updateproduct/{{product.id}}"style="background:#FF6F61;" ><i class="fa fa-eye"></i></button>

                           
                        </td>
                    </tr> 

                    
                </tbody>
            </table>
    </div>

    