<app-navbar></app-navbar>


    <div class="dashboard-container">
        <div class="sidebar">
            <ul>
                <li><a href="#"style="color:#9747FF;font-size: 17px;">Questions</a></li>
    
                <li><a href="#" style="color:black;margin-left: 40px; line-height: 30px ; size:20px;" routerLink="/addQuestion">Write Questions</a></li>
                <li><a href="#" style="color:black;margin-left: 40px;" routerLink="/allQuestions"> Read Questions</a></li>
            </ul>
        </div>
        <div class="main-content">
           
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group form-group-divider">
                        <!-- Conteneur flex avec l'image et le texte -->
                        <div class="flex">
                            <img [src]="'https://img.freepik.com/icones-gratuites/utilisateur_318-563642.jpg?w=360'" alt="Description de l'image">
                            <p style="color:#999999;">{{userConnect.username}}</p>
                        </div>
                    </div>

                       
                    <!--on selectionne categorie-->
                    <div class="form-group form-group-divider">
                        <label for="categories"><b>Catégories :</b></label>
                        <br>
                        <div *ngFor="let category of Categorie">
                            <br>
                          <input type="radio" id="{{ category.id }}" name="categories"  style="margin-left: 10px;" [(ngModel)]="selectedCategoryId" [value]="category.id">
                          <label for="{{ category.id }}" >{{   category.nomCatalogue }} </label><br>
                          <br>
                        </div>
                        <!--Attribut [value]: L'attribut [value] est utilisé 
                            pour définir la valeur associée à chaque bouton radio. Dans cet exemple,
                             la valeur de chaque bouton radio est l'ID de la catégorie correspondante-->
                    </div>

        
                    <!-- Label pour la question -->
                    <div class="form-group form-group-divider">
                        <label for="question"><b>Write your question</b>
                        </label>
                            <br>
                        <textarea class="form-control" style="border:none" id="question" [(ngModel)]="questionDto.question" name="question" rows="3" placeholder="Enter your question"></textarea>

                    </div>
                 
            
                    
        <br>
                    <!-- Bouton de soumission -->
                    <button type="submit"style="background-color:#9747FF " [disabled]="submitDisabled" class="btn btn-primary">Post Question</button>
                </form>
            </div>

           </div>

  
    
