<header>
    <div class="navbar navbar-dark shadow-sm" style=" background-color: #FF6F61;">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">E-SHOP</strong>
        </div>
        <button  class="btn"(click)="logout()" style="color: white;">
            Se déconnecter
        </button>
    </div>
</header>
<div class="dashboard-container">
   
    <div  class="sidebar">
        <ul>
            <li><a routerLink="/admin/dashboard">Tableau de bord</a></li>

            <li><a routerLink="/admin/categorie">Catégories</a></li>
            
            <li><a routerLink="/admin/newsletter" >Newsletter</a></li>
            
            <li><a routerLink="/admin/productaadmin" >Articles</a></li>

            <li><a routerLink="/admin/contactadmin" style="color:#FF6F61;">Contacts</a></li>

            <li><a routerLink="/admin/orders">Commandes</a></li>
            

            <li><a routerLink="/admin/aboutclient">Utilisateurs</a></li>
        
        </ul><li><a>Se déconnecter</a></li>
   
</div>

<div class="main-content">
    <h2 style="color: #2B3674; text-align: center;">Contacts des utilisateurs</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th> Nom</th>
                <th>Email</th>
                <th>Objet</th>
                <th>Message</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.subject }}</td>
                <td>{{ contact.message }}</td>
                <td>
                    <button (click)="openPopup(contact)" class="move">Répondre</button>
                </td>
            </tr>
        </tbody>
    </table>
     <!-- Popup pour répondre à un contact -->
     <div *ngIf="showPopup" class="popup">
        <div class="popup-content">
            <span class="close" (click)="closePopup()">&times;</span>
            <h3>Répondre aux contacts</h3>
            <div>
                <label for="replyMessage">Message:</label><br>
                <textarea id="replyMessage" name="replyMessage" [(ngModel)]="replyMessage" rows="4" cols="50"></textarea>
            </div>
            <button (click)="replyToContact()" class="send-button">Envoyer</button>
        </div>
    </div>