<body>
    <header>
        <div class="navbar navbar-dark shadow-sm" style=" background-color: #FF6F61;">
            <div class="navbar-brand align-item-center d-flex">
                <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                    
                </i>
                <strong style="font-size: 30px;">E-SHOP</strong>
            </div>
            <button  class="btn"(click)="logout()" style="color: white;">
                Se déconnecter
            </button>
        </div>
    </header>
    <div class="dashboard-container">
            <div class="sidebar">
                <ul>
                    <li><a routerLink="/admin/dashboard"  >Tableau de bord</a></li>
        
                    <li><a routerLink="/admin/categorie">Catégories</a></li>
                    
                    <li><a routerLink="/admin/newsletter" >Newsletter</a></li>
                    
                    <li><a routerLink="/admin/productaadmin" >Articles</a></li>
        
                    <li><a routerLink="/admin/contactadmin">Contacts</a></li>
        
                    <li><a routerLink="/admin/orders" style="color:#FF6F61;">Commandes</a></li>
                    
        
                    <li><a routerLink="/admin/aboutclient">Utilisateurs</a></li>
                
                <li><a routerLink="/admin/faq">faq</a></li>
                <li><a routerLink="">Accueil</a></li>
    
                </ul>
            </div>
 
  

    <div class="main-content">
        <h1 style="color:#2B3674;; text-align: center;">Commandes des utilisateurs</h1>
      
        <table>
            <thead>
                <tr> 
                    <th>NumCommande</th> 
                    <th>Date</th>
                    <th>Email du client</th>
                    <th>Etat</th>
                    <th>Action</th>



                </tr>
            </thead>
                <tbody *ngFor="let commandes of commandes">
                    
                    <tr >
                        <td>{{commandes.numcom}}</td>
                        <td>{{ commandes.date | date: 'dd/MM/yyyy' }}</td>
                        <td>{{commandes.client.email}}</td>
                        <td>{{commandes.etat}}</td>
                        
                        <td>

                        
                            <button class="btn btn-sm"  style="background:#FF6F61;" (click)="openPopup(commandes.numcom)" ><i class="fa fa-eye" ></i></button>

                           </td>
                            

                      
                      </tr>
                     
                  </tbody>

                <!-- Ajoutez d'autres lignes pour chaque employé -->
        </table>

       
    </div>
    
    <div *ngIf="showPopup" class="popup">
        <div class="popup-content">
            <span class="close" (click)="closePopup()">&times;</span>
            
            <h3> <span></span> Changer l'etat du commande</h3>
         
                 
            <div class="card-body">
                
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="etatCheck" [(ngModel)]="etat" value="traite">
                    <label class="form-check-label">Traité</label>
                    
                    <input type="radio" class="form-check-input" name="etatCheck" [(ngModel)]="etat" value="nontraite">
                    <label class="form-check-label">Non traité</label>
                </div>
            </div>
          
            <button   class="send-button" (click)="updatecommande()">Changer</button>
           
        </div>
    </div>
</div>




</body>