.container{
    display: flex;
    justify-content: space-between; /* Ajoute de l'espace entre les éléments */

}

.signin-form{
    margin-top: 150px;
}
.left-content{
    margin-top: 100px;

}
html, body {
    height: 100%;
}

body {
    background-color: #f2f2f2; /* Gris clair, vous pouvez ajuster la couleur selon vos préférences */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les rembourrages par défaut */
}
.colorBackgroundMove{
    background-color: #FF6F61;
    color:#FBFBFB;
    border-color: #FF6F61;
    padding-top: 4PX;
padding-bottom: 12PX;
padding-left: 12px;
padding-right: 12px;
border-radius: 30px;
margin-left: 25px;
margin-top: 40PX;
height: 40px;
width: 200PX;
}
.move{
    color: #FF6F61;
    border-color: #FF6F61;
        background-color: #FBFBFB;
        border-radius: 12px;
    margin-top: 12px;
margin-right: 10px;}
.signin-form {
    padding: 20px;
    border-radius: 5px;
    width: 300px; /* Largeur du formulaire */
    margin-top: 100px;
}
.blanc{
    background-color: #FF6F61;
    color:#FBFBFB;
    margin-left: 12PX;
    border-color: #FF6F61;
    border-radius: 12px;
    margin-top: 12px;
    margin-right: 10px;
}
.form-group {
    margin-bottom: 15px; /* Espacement entre les champs */
}

.form-control {
    width: 100%; /* Largeur des champs */
    padding: 10px;
    border-radius: 5px;
}.tex{
    text-align: center;
    }
     .tex span {
         text-align: center;
         font-weight: bold;
         
     }
     .conv {
        text-align: center;
        margin-top: 20px;
    }
   
    .conv a {
        color: #FF6F61
;
        margin: 0 10px;
    }
   
    .dr {
        text-decoration: none;
        font-size: 24px;
    }
    .boutonAlign{
        display: flex;
        justify-content:center ;

    }
    .colorContourMove{
        color: #FF6F61;
    border-color: #FF6F61;
        background-color: #FBFBFB;
        border-radius: 12px;
        padding-top: 12PX;
    padding-bottom: 12PX;
    padding-left: px;
    padding-right: 20px;
    align-items: start;
    margin-left: 200px;}
    
.show-password-button {
    position: absolute;
    top: 62%;
    right: 160px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.show-password-button .fa {
    font-size: 18px;
    /* Adjust the icon size as needed */
    color: #888;
    /* Adjust the icon color */
}
.show-password2-button .fa {
    font-size: 18px;
    /* Adjust the icon size as needed */
    color: #888;
    /* Adjust the icon color */
}

.show-password2-button{
    position: absolute;
    top: 71%;
    right: 160px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}