<header>
    <div class="navbar navbar-dark shadow-sm" style=" background-color: #FF6F61;">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">E-SHOP</strong>
        </div>
        <button  class="btn">
            <i style="font-size: 30px;" class="fas fa-user "></i>
           
        </button>
    </div>
</header>
<div class="dashboard-container">
    <div class="sidebar">
        <ul>
            <li><a routerLink="/admin/dashboard">Dashboard</a></li>

            <li><a routerLink="/admin/categorie">Categories</a></li>
            
            <li><a routerLink="/admin/newsletter" >Newsletter</a></li>
            
            <li><a routerLink="/admin/productaadmin">Articles</a></li>
            <li><a routerLink="/admin/contactadmin" >Contacts</a></li>

            <li><a routerLink="/admin/orders">Commandes</a></li>
            

            <li><a routerLink="/admin/aboutclient"style="color:#FF6F61;">utilisateurs</a></li>
        </ul>
    </div>



<div class="main-content">
    <h1 style="color: #2B3674; text-align: center;">Comptes des utilisateurs</h1>
  
    <table>
        <thead>
            <tr> 
                <th>UserId</th> 
                <th>UserEmail</th>

                <th>Nom du client</th>
                <th>Action</th>



            </tr>
        </thead>
            <tbody>
                
                <tr *ngFor="let client of clients">
                    <td>{{client.id}}</td>
                    <td>{{client.email}}
                    
                    </td>
                    <td>{{client.username}}</td>
                 
                    <td>

                        <button class="btn btn-sm" style="background:#FF6F61; margin-right: 15px;" (click)="removeClient(client.id)"><i class="fa fa-trash"></i></button>
                        <button class="btn btn-sm"  style="background:#FF6F61;" (click)="openPopup(client.id)" ><i class="fa fa-eye" ></i></button>

                       </td>
                        

                  
                  </tr>
                 
              </tbody>

            <!-- Ajoutez d'autres lignes pour chaque employé -->
    </table>

    <div *ngIf="showPopup" class="popup">
        <div class="popup-content">
            <span class="close" >&times;</span>
            <h3> <span><i class="fas fa-info"></i></span>  About User</h3>
         
                 
                <div class="card-body">
                    <h4 class="card-title"><i class="fas fa-id-card"  style="color:#FF6F61" ></i> {{client.username}}</h4>

                    <h5 class="card-title"><i class="fas fa-envelope"  style="color:#FF6F61"></i> {{client.email}}</h5>
                    <h5 class="card-title"><i class="fas fa-phone"  style="color:#FF6F61"></i> {{client.numTel}}</h5>
                    <h5 class="card-title"><i class="fas fa-id-badge "  style="color:#FF6F61"></i> {{client.cin}}</h5>
                   <h5 class="card-title"><i class="fas fa-map-marker"  style="color:#FF6F61"></i> {{client.address}}</h5>
                   <h5 class="card-title"><i class=" fas fa-credit-card "   style="color:#FF6F61"></i> {{client.compte}}</h5>
                 
                </div>
            <button  (click)="closePopup()" class="send-button">Back</button>
        </div>
    </div>
</div>


</div>
