<header>
    <div class="navbar navbar-dark shadow-sm" style=" background-color: #FF6F61;">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">E-SHOP</strong>
        </div>
        <button  class="btn"(click)="logout()" style="color: white;">
            Se déconnecter
        </button>
    </div>
</header>
<div class="dashboard-container">

<div  class="sidebar">
    <ul>
        <li><a routerLink="/admin/dashboard">Tableau de bord</a></li>

        <li><a routerLink="/admin/categorie">Catégories</a></li>
        
        <li><a routerLink="/admin/newsletter" style="color:#FF6F61;" >Newsletter</a></li>
        
        <li><a routerLink="/admin/productaadmin" >Articles</a></li>

        <li><a routerLink="/admin/contactadmin" >Contacts</a></li>

        <li><a routerLink="/admin/orders">Commandes</a></li>
        

        <li><a routerLink="/admin/aboutclient">Utilisateurs</a></li>
    
    </ul><li><a>Se déconnecter</a></li>
</div>

<div class="main-content">
<h1  style="color: #2B3674; text-align: center;">Tenez vos utilisateurs informés:</h1>
<form class="newsletter-form" (ngSubmit)="sendNewsletter()">
    <textarea id="body" name="body" [(ngModel)]="body" rows="4" required  placeholder="Message"></textarea>


    <button type="submit" > Email </button>
</form>
<table>
    <thead>
        <tr>  
            <th>id</th>

            <th>Nom</th>
            <th>EmailSubscription</th>
            <th>Supprimer</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let user of Users">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.emailSubscription }}</td>

              <td><button type="button" class="blanc" (click)="deleteEmailSubscription(user.id)">Supprimer</button></td>


            
            </tr>
          </tbody>
        <!-- Ajoutez d'autres lignes pour chaque employé -->
</table>
</div>
</div>