<header>
    <div class="navbar navbar-dark shadow-sm" style=" background-color: #FF6F61;">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">E-SHOP</strong>
        </div>
        <button  class="btn"(click)="logout()" style="color: white;">
            Se déconnecter
        </button>
    </div>
</header>
<div class="dashboard-container">
   
    <div  class="sidebar">
    <ul>
        <li><a routerLink="/admin/dashboard">Dashboard</a></li>

        <li><a routerLink="/admin/categorie" style="color:#FF6F61;">Categories</a></li>
        
        <li><a routerLink="/admin/newsletter" >Newsletter</a></li>
        
        <li><a routerLink="/admin/productaadmin">Articles</a></li>
        <li><a routerLink="/admin/contactadmin" >Contacts</a></li>
        

        <li><a routerLink="/admin/orders">Commandes</a></li>
        

        <li><a routerLink="/admin/aboutclient">Utilisateurs</a></li>
        <li><a (click)="logout()">LogOut</a></li>
    </ul>
</div>
<div class="main-content">
    <h2  style="color: #2B3674; text-align: center;">Articles Categories</h2>
    <div style=" text-align: right;">
        <button type="submit" class="btn "  routerLink="/admin/addcategory" style="background-color: #FF6F61;"> Ajouter un autre categorie</button>
    </div>
    <table>
        <thead>
            <tr>  
                <th style="color:#A3AED0">id</th>
                <th style="color:#A3AED0">nomCatalogue</th>
                <th style="color:red">Supprimer</th>
                <th style="color:#9747FF">modifier</th>



            </tr>
        </thead>
            <tbody *ngFor="let categorie of categories">
                
                <tr >
                    <td>{{categorie.idcataloque}}</td>
                   <td>{{categorie.nomCatalogue}}</td>
                   
                   <td><button type="button" style="background:#FF6F61;" (click)="deletecategory(categorie.idcataloque)" ><i class="fa fa-trash"></i></button></td>
                   <td><button type="button"   class="move" routerLink="/admin/updatecategory/{{categorie.idcataloque}}"><i class="fa fa-edit"></i></button></td>
                  
                  </tr>
                
                    
                   
              </tbody>

            
    </table>
    
</div>

</div>
    