
    <div class="container">
  <h2>add  new product</h2>
  <form (ngSubmit)="addprod()">
    <div class="form-group">
      <label for="titre">Name Product :</label>
      <input type="text" class="form-control" id="titre" name="titre" [(ngModel)]="product.nomProduit" required>
    </div>
    <div class="form-group">
      <label for="description">Description :</label>
      <textarea class="form-control" id="description" name="description" [(ngModel)]="product.description" required></textarea>
    </div>
    
    <div class="form-group">
      <label for="startDate">Prix :</label>
      <input type="text" class="form-control" id="prix" name="prix" [(ngModel)]="product.prix">
    
      </div>
    <div class="form-group">
      <label for="image">Image :</label>
      <input type="text" class="form-control" id="image" name="image" [(ngModel)]="product.image">
    </div>
    <div class="form-group">
      <label for="qtEnStock">qtEnStock:</label>
      <input type="text" class="form-control" id="qtEnStock" name="qtEnStock" [(ngModel)]="product.qtEnStock">
    </div>
    <div class="form-group">
        <label for="disponibilteEnStock">disponibilteEnStock:</label>
        <div style="display: inline-block;">
            <input type="radio" id="False" name="disponibilteEnStock" value="false" [(ngModel)]="product.disponibilteEnStock">
            <label for="false">false<br></label>
        </div>
        <div style="display: inline-block;">
            <input type="radio" id="True" name="disponibilteEnStock" value="true" [(ngModel)]="product.disponibilteEnStock">
            <label for="true">true</label>
        </div>
    </div>
    <div class="form-group">
      <label class="mr-2">Catégories :</label>
      <div *ngFor="let category of categories" class="form-check form-check-inline" >
          <input type="checkbox" class="form-check-input" [id]="category.nomCatalogue" [value]="category.nomCatalogue" name="categoryCheck" [(ngModel)]="category.selected" (change)="categoryChanged()">
          <label class="form-check-label" [for]="category.nomCatalogue">{{category.nomCatalogue}}</label>
      </div>
    </div>
  
      
      
    <button type="submit" class="btn " style="background-color: #FF6F61;">Add Product</button>
  </form>
</div>


