body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: flex;
}

.sidebar {
    color: #fff;
    width: 250px;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
    color:#8D8D8D;

}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    margin-top: 20PX;
}
textarea {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    border-color: #8D8D8D; /* Élimine le bord */
    border-radius: 50px;
    

}
.sidebar ul li a {
    color:#8D8D8D;
    margin-left: 20PX;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center; /* Aligne horizontalement au centre */
    align-items: center; /* Aligne verticalement au centre */
}

.container img {
    max-width: 100%; /* Garantit que l'image ne dépasse pas la largeur de la div */
    max-height: 100%; /* Garantit que l'image ne dépasse pas la hauteur de la div */
}

.main-content {
    padding: 20px;
    flex-grow: 1;
}

.main-content h1 {
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form label {
    margin-bottom: 10px;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
}
.blanc{
    border-radius: 20%;
    color: black;
    border-color: #9747FF;
    background-color: #fff;

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
.newsletter-form button {
    color: #624BFF;
    cursor: pointer;
    background-color: #fff;
    width: 100px;
    height:40px;
    border-radius: 30px;
    border-color: #9747FF;
    margin-top: 30px;
}

.newsletter-form button:hover {
    background-color: #555;
}
.card-body{
    display:flex;
    justify-content: center;
}
.a:hover {
    color:#FF6F61; 
}