<div class="row py-3">
    <div class="col-md-4" *ngFor="let product of products" >
               <div class="product-item">
                   <div class="product-title">
                       <a routerLink="/detailproduit/{{product.id}}">{{product.nomProduit}}</a>
                       <div class="ratting">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                       </div>
                   </div>
                   <div class="product-image">
                       <a routerLink="/detailproduit/{{product.id}}">
                           <img src="{{product.image}}" alt="Product Image">
                       </a>
                               <div class="product-action">
                                   <a href="#"><i class="fa fa-cart-plus"></i></a>
                                   <a href="#"><i class="fa fa-heart"></i></a>
                                   <a href="#"><i class="fa fa-search"></i></a>
                               </div>
                   </div>
                   <div class="product-price">
                       <h3><span>$</span>{{product.prix}}</h3>
                       <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                   </div>
                  <br>
               </div>
 </div>

</div>