

    <div class="dashboard-container">
        <div class="sidebar">
            <ul>
                <li><a href="#"style="color:#FF6F61;font-size: 17px;">Questions</a></li>
    
                <li><a href="#" style="color:black;margin-left: 40px; line-height: 30px ; size:20px;" routerLink="/addQuestion">Poser un question</a></li>
                <li><a href="#" style="color:black;margin-left: 40px;" routerLink="/allQuestions"> lire les Questions</a></li>
                
                
                <li><a href="#"style="color:#FF6F61;font-size: 17px;">Discussions</a></li>
                
    
                
    
                
                
                <li><a href="#" style="color: #FF6F61; font-size: 17px;">Tags</a></li>
                <li *ngFor="let categorie of categories"><button type="button"class="tagsBouton" >{{ categorie.nomCatalogue}}</button></li>

    
    
    
    
    
                  
    
    
            </ul>
        </div>
        <div class="main-content">
           
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group form-group-divider">
                        <!-- Conteneur flex avec l'image et le texte -->
                        <div class="flex">
                            <img [src]="userConnect.image" alt="Description de l'image">
                            <p style="color:#999999;">{{userConnect.userName}}</p>
                        </div>
                    </div>

                       
                   
                    <div class="form-group">
                        <label class="mr-2">Catégories :</label>
                        <div *ngFor="let category of categories" class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" [id]="category.nomCatalogue" [value]="category.id" name="categoryCheck" [(ngModel)]="category.selected" (change)="categoryChanged()">
                            <label class="form-check-label" [for]="category.nomCatalogue">{{category.nomCatalogue}}</label>
                        </div>
                    </div>
                    
        
                    <!-- Label pour la question -->
                    <div class="form-group form-group-divider">
                        <label for="question"><b>Write your question</b>
                        </label>
                            <br>
                        <textarea class="form-control" style="border:none" id="question" [(ngModel)]="questionDto.question" name="question" rows="3" placeholder="Enter your question"></textarea>

                    </div>
                    
                   <br>
                    <!-- Bouton de soumission -->
                    <button type="submit"style="background-color:#FF6F61 " [disabled]="submitDisabled" class="btn btn-primary">Post Question</button>
                </form>
            </div>

           </div>

  
    

